@{
    ViewData["Title"] = "Inicio";
}
<!-- slider_area_start -->
<div class="slider_area">
    <div class="slider_active owl-carousel">
        <div class="single_slider  d-flex align-items-center slider_bg_1 overlay2">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="slider_text ">
                            <h3>
                                <br />
                                Coaching Empresarial
                            </h3>
                            <p>
                                Nam libero tempore, cum soluta nobis est eligendi optio <br>
                                cumque nihil impedit quo minus.
                            </p>
                            <div class="video_service_btn">
                                <a onclick="goServiceSection('GrupoNegociosId');" class="boxed-btn3"> Nuestros Servicios</a>
                                <a href="#" class="boxed-btn3-white">
                                    <i class="fa fa-play"></i>
                                    Conoce Más
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single_slider  d-flex align-items-center slider_bg_2 overlay2">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="slider_text ">
                            <h3>
                                Asesorías y Consultorías <br />
                                Tributarias
                            </h3>
                            <p>
                                Nam libero tempore, cum soluta nobis est eligendi optio <br>
                                cumque nihil impedit quo minus.
                            </p>
                            <div class="video_service_btn">
                                <a onclick="goServiceSection('GrupoTributarioId');" class="boxed-btn3"> Nuestros Servicios</a>
                                <a href="#" class="boxed-btn3-white">
                                    <i class="fa fa-play"></i>
                                    Conoce Más
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single_slider  d-flex align-items-center slider_bg_3 overlay2">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="slider_text ">
                            <h3>
                                Nuevo Modelo de <br />
                                Estratégia Corporativa
                            </h3>
                            <p>
                                Nam libero tempore, cum soluta nobis est eligendi optio <br>
                                cumque nihil impedit quo minus.
                            </p>
                            <div class="video_service_btn">
                                <a href="#" class="boxed-btn3"> Conoce Más</a>
                                <a href="#" class="boxed-btn3-white">
                                    <i class="fa fa-play"></i>
                                    Mira Cómo Trabajamos
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- slider_area_end -->
<!-- grupos de servicios -->
<div class="service_area">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="section_title text-center mb-20">
                    <h3>Nuestros Servicios</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4 col-md-4">
                <div class="single_service service_bg_1">
                    <div class="service_hover">
                        <img src="~/img/svg_icon/case.svg" alt="">
                        <h3>Consultoría Empresarial</h3>
                        <div class="hover_content">
                            <div class="hover_content_inner">
                                <a href="#" onclick="goServiceSection('GrupoNegociosId')">
                                    <h4>Consultoría Empresarial</h4>
                                    <p>Aplica estrategias de operación, control, innovación y gestión en los negocios. </p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-4">
                <div class="single_service service_bg_2">
                    <div class="service_hover">
                        <img src="~/img/svg_icon/bar-chart.svg" alt="" style="width: 45px; height: 40px;">
                        <h3>Consultoría Financiera y Tributaria</h3>
                        <div class="hover_content">
                            <div class="hover_content_inner">
                                <a href="#" onclick="goServiceSection('GrupoTributarioId')">
                                    <h4>Consultoría Financiera y Tributaria</h4>
                                    <p>Haz el análisis y la valoración requerida para la toma de decisiones con beneficio financiero.</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-4">
                <div class="single_service service_bg_4">
                    <div class="service_hover">
                        <img src="~/img/svg_icon/puzzle.svg" alt="" style="width: 45px; height: 40px;">
                        <h3>Auditoría y Revisoría Fiscal</h3>
                        <div class="hover_content">
                            <div class="hover_content_inner">
                                <a href="#" onclick="goServiceSection('GrupoAuditoriaId')">
                                    <h4>Auditoría y Revisoría Fiscal<br />&nbsp;</h4>
                                    <p>Realiza un peritaje para mantener la gestión contable y administrativa en orden.</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*<div class="row">
            <div class="col-xl-6 col-md-6">
                <div class="single_service service_bg_3">
                    <div class="service_hover">
                        <img src="~/img/svg_icon/legal-paper.svg" alt="">
                        <h3>Asesoría Legal y Laboral <br />&nbsp;</h3>
                        <div class="hover_content">
                            <div class="hover_content_inner">
                                <a href="#">
                                    <h4>Asesoría Legal y Laboral<br />&nbsp;</h4>
                                    <p>Recibe orientación para resolución de asuntos sobre la aplicación de la ley.</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
    </div>
</div>
<!-- grupos de servicios -->
<!-- about  -->
<div class="about_area ">
    <div class="container-fluid p-0">
        <div class="row no-gutters align-items-center">
            <div class="col-xl-6 col-lg-6">
                <div class="about_image">
                    <img src="~/img/about/experts1.png" alt="">
                </div>
            </div>
            <div class="col-xl-6 col-lg-6">
                <div class="about_info">
                    <h3>Expertos en Grandes Negocios</h3>
                    <p>Nuestros @(DateTime.Now.Year - 2004) años de experiencia confiable nos permiten apoyar tus procesos gerenciales, financieros, contables y tributarios, siempre pretendiendo el crecimiento de tu negocio de manera efectiva y al menor costo. Así lo demuestra nuestro trabajo con empresas en los sectores:</p>
                    <ul>
                        <li> Manufactura y Retail. </li>
                        <li> Agroindustria. </li>
                        <li> Tecnología y servicios. </li>
                    </ul>
                    <div class="about_btn">
                        <a class="boxed-btn3" asp-area="" asp-controller="Home" asp-action="About">Conócenos</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<!--/ about  -->
@*<div class="testmonial_area">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="section_title text-center mb-20">
                        <h3>Nuestros Clientes</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-10 offset-xl-1">
                    <div class="testmonial_active2 owl-carousel">
                        <div class="single_slider text-center">
                            <input id="img_owlDot1" value="url(../img/testmonial/1.png)" hidden />
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            <div class="author_name text-center">
                                <h4>Compañia 1</h4>
                                <span> Business Owner</span>
                            </div>
                        </div>
                        <div class="single_slider text-center">
                            <input id="img_owlDot2" value="url(../img/testmonial/2.png)" hidden />
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            <div class="author_name text-center">
                                <h4>Compañia 2</h4>
                                <span> Business Owner</span>
                            </div>
                        </div>
                        <div class="single_slider text-center">
                            <input id="img_owlDot3" value="url(../img/testmonial/3.png)" hidden />
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            <div class="author_name text-center">
                                <h4>Compañia 3</h4>
                                <span> Business Owner</span>
                            </div>
                        </div>
                        <div class="single_slider text-center">
                            <input id="img_owlDot4" value="url(../img/testmonial/1.png)" hidden />
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            <div class="author_name text-center">
                                <h4>Compañia 4</h4>
                                <span> Business Owner</span>
                            </div>
                        </div>
                        <div class="single_slider text-center">
                            <input id="img_owlDot5" value="url(../img/testmonial/2.png)" hidden />
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            <div class="author_name text-center">
                                <h4>Compañia 5</h4>
                                <span> Business Owner</span>
                            </div>
                        </div>
                        <div class="single_slider text-center">
                            <input id="img_owlDot6" value="url(../img/testmonial/3.png)" hidden />
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            <div class="author_name text-center">
                                <h4>Compañia 6</h4>
                                <span> Business Owner</span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>*@
<!-- project  -->
<div class="project_area">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="project_info text-center">
                    <h3>¿Tienes algún proyecto?</h3>
                    <p>
                        Con una perspectiva integral y trabajo en equipo, nos enfocaremos en desarrollar esa idea o negocio que tienes.
                    </p>
                    <a asp-area="" asp-controller="Home" asp-action="Contact" class="boxed-btn3-white">Contáctanos</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ project  -->
