@{
    ViewData["Title"] = "Servicios";
}
<!-- bradcam_area  -->
<input id="serviceSectionView" value="@ViewData["serviceSectionView"]" hidden />
<div class="bradcam_area breadcam_bg_2" id="InitServicesId">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text text-center">
                    <h3>Nuestros Servicios</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ bradcam_area  -->
<!-- Soluciones -->
<div class="financial_solution_area">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6">
                <div class="financial_active owl-carousel">
                    <div class="single_finalcial_wrap">
                        <h3>
                            Revisoría Fiscal
                        </h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                    <div class="single_finalcial_wrap">
                        <h3>
                            Auditoría Externa
                        </h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                    <div class="single_finalcial_wrap">
                        <h3>
                            Selección de Talento Humano
                        </h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                    <div class="single_finalcial_wrap">
                        <h3>
                            Asesoría Jurídica y Mercantíl
                        </h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                    <div class="single_finalcial_wrap">
                        <h3>
                            Evaluación de Proyectos
                        </h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                    <div class="single_finalcial_wrap">
                        <h3>
                            Consultoría y Asesoría en NIIF, NIC-SP y NIAS
                        </h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6">
                <div class="finance_thumb">
                    <img src="~/img/about/allservices1.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ soluciones -->
<!-- servicios 1 -->
<div class="about_wrap_area about_bg_1" id="GrupoNegociosId">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="section_title text-center mb-20">
                    <h3 style="color:white;">Consultoría de Negocios</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4 col-md-6 col-lg-4">
                <div class="single_service_wrap text-center">
                    <img src="img/svg_icon/controls.svg" alt="">
                    <a href="#ServicioGrupoNegocios1Id">
                        <h3>Desarrollo Comercial<br />&nbsp;</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </a>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 col-lg-4">
                <div class="single_service_wrap text-center">
                    <img src="img/svg_icon/bar-chart.svg" alt="">
                    <a href="#ServicioGrupoNegocios2Id">
                        <h3>Evaluación de Proyectos</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </a>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 col-lg-4">
                <div class="single_service_wrap text-center">
                    <img src="img/svg_icon/puzzle.svg" alt="">
                    <a href="#ServicioGrupoNegocios3Id">
                        <h3>Selección de Talento Humano</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ servicios 1 -->
<!--/ bradcam_area  -->
<div class="portfolio_details_area">
    <div class="container">
        <div class="row" id="ServicioGrupoNegocios1Id">
            <div class="col-xl-8 offset-xl-2">
                <div class="portfolio_details_content text-center mb-50">
                    <h3>Desarrollo Comercial<br /></h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
            </div>
            <div class="col-xl-12">
                <div class="portfolio_details_thumb">
                    <img src="~/img/gallery/business_up1.png" alt="">
                </div>
            </div>
        </div>
        <div class="row" id="ServicioGrupoNegocios2Id">
            <div class="col-xl-8 offset-xl-2">
                <div class="portfolio_details_content mt-50 mb-50 text-center">
                    <h3>Evaluación de Proyectos</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
            </div>
            <div class="col-xl-12">
                <div class="portfolio_details_thumb">
                    <img src="~/img/gallery/projects_up1.png" alt="">
                </div>
            </div>
        </div>
        <div class="row" id="ServicioGrupoNegocios3Id">
            <div class="col-xl-8 offset-xl-2">
                <div class="portfolio_details_content mt-50 mb-50 text-center">
                    <h3>Selección de Talento Humano</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
            </div>
            <div class="col-xl-12">
                <div class="portfolio_details_thumb">
                    <img src="~/img/gallery/human_talent1.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>

<!-- servicios 1 -->
<div class="about_wrap_area about_bg_2" id="GrupoTributarioId">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="section_title text-center mb-20">
                    <h3 style="color:white;">Consultoría Tributaria y Auditoría</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4 col-md-6 col-lg-4">
                <div class="single_service_wrap text-center">
                    <img src="img/svg_icon/controls.svg" alt="">
                    <a href="#ServicioGrupoTributario1Id">
                        <h3><br />Revisoría Fiscal<br />&nbsp;</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </a>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 col-lg-4">
                <div class="single_service_wrap text-center">
                    <img src="img/svg_icon/bar-chart.svg" alt="">
                    <a href="#ServicioGrupoTributario2Id">
                        <h3><br />Auditoría Externa<br />&nbsp;</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </a>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 col-lg-4">
                <div class="single_service_wrap text-center">
                    <img src="img/svg_icon/puzzle.svg" alt="">
                    <a href="#ServicioGrupoTributario3Id">
                        <h3>Consultoría y Asesoría en NIIF, NIC-SP y NIAS</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ servicios 1 -->
<!--/ bradcam_area  -->
<div class="portfolio_details_area">
    <div class="container">
        <div class="row" id="ServicioGrupoTributario1Id">
            <div class="col-xl-8 offset-xl-2">
                <div class="portfolio_details_content text-center mb-50">
                    <h3>Revisoría Fiscal</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
            </div>
            <div class="col-xl-12">
                <div class="portfolio_details_thumb">
                    <img src="~/img/gallery/revisoria1.png" alt="">
                </div>
            </div>
        </div>
        <div class="row" id="ServicioGrupoTributario2Id">
            <div class="col-xl-8 offset-xl-2">
                <div class="portfolio_details_content mt-50 mb-50 text-center">
                    <h3>Auditoría Externa</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
            </div>
            <div class="col-xl-12">
                <div class="portfolio_details_thumb">
                    <img src="~/img/gallery/auditoria1.png" alt="">
                </div>
            </div>
        </div>
        <div class="row" id="ServicioGrupoTributario3Id">
            <div class="col-xl-8 offset-xl-2">
                <div class="portfolio_details_content mt-50 mb-50 text-center">
                    <h3>Consultoría y Asesoría en NIIF, NIC-SP y NIAS</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
            </div>
            <div class="col-xl-12">
                <div class="portfolio_details_thumb">
                    <img src="~/img/gallery/niif1.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
<script>
    $(document).ready(function () {
        let sectionView = $('#serviceSectionView').val();
        location.href = "#" + sectionView;
    });
</script>
